{% extends 'base.html' %}
{% load static %}

{% block title %}
    AED Museums
{% endblock title %}

{% block content %}
    {% csrf_token %}

    <style>
        html, body {
            background-color: white!important;
        }
    </style>

    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <div class="item" onclick="addMuseumModal()">+ Add a Museum</div>
            <div class="right menu">
                <div class="item">
                    <a class="ui button" href="/logout_view">Logout</a>
                </div>
            </div>
        </div>
    </div>
  
    <div class="ui vertical sidebar menu left">
        <a class="active item">Home</a>
        <div class="item" onclick="addMuseumModal()" style="cursor:pointer;">+ Add a Museum</div>
        <a class="item" href="/logout_view">Logout</a>
    </div>

    <div class="pusher">
        <div class="ui vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item">Home</a>
                    <button class="item" onclick="addMuseumModal()" style="cursor:pointer;">+ Add a Museum</button>
                    <div class="right item">
                        <a class="ui basic button" href="/logout_view">Logout</a>
                    </div>
                </div>
            </div>
            <div class="ui left aligned container" style="margin-top:30px">
                <div class="ui four stackable cards">
                    {% for museum in museums %}
                        <div class="card">
                        <div class="content">
                            <img class="right floated mini ui border rounded image" src="{% static 'museum.jpg' %}">
                            <div class="header">
                                {{ museum.name }}
                            </div>
                            <div class="meta">
                                Muzey, {{ museum.key }}b{{ museum.id }}
                            </div>
                            <div class="description">
                                <a href="{{ museum.address }}" target="_blank">Google Maps</a>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui basic button" onclick="openModal('{{ museum.id }}', '{{ museum.name }}', '{{ museum.address }}', '{{ museum.key }}')">Edit</div>
                            <div class="ui basic button" onclick="deleteMuseum('{{ museum.id }}')">Delete</div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="ui tiny modal">
            <div class="header">Edit Museum Information</div>
            <div class="content">
                <form class="ui large form initial" method="POST">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="name" placeholder="Museum name" autocomplete="off" id="name" spellcheck="false">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="thumbtack icon"></i>
                                <input type="text" name="address" placeholder="Museum address" autocomplete="off" id="loc" spellcheck="false">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="key icon"></i>
                                <input type="text" name="address" placeholder="Museum key" autocomplete="off" id="key" spellcheck="false">
                            </div>
                        </div>
                    <div class="ui error message"></div>
                </form>
                </div>
            <div class="basic actions">
              <button class="ui basic button" id="save">Save</button>
              <div class="ui basic button" onclick="$('.tiny.modal').modal('toggle')">Cancel</div>
            </div>
          </div>
        <script>
            let openModal = (id, name, address, key) => {
                $('.tiny.modal')
                    .modal({inverted:true})
                    .modal('show')
                
                document.querySelector('.tiny.modal #name').value = name
                document.querySelector('.tiny.modal #loc').value = address
                document.querySelector('.tiny.modal #key').value = key
                document.querySelector('.tiny.modal #save').onclick = async () => {
                    let form_data = new FormData()
                    form_data.append('id', id)
                    form_data.append('name', document.querySelector('.tiny.modal #name').value)
                    form_data.append('address', document.querySelector('.tiny.modal #loc').value)
                    form_data.append('key', document.querySelector('.tiny.modal #key').value)
                    form_data.append('csrfmiddlewaretoken', document.querySelector("input[name='csrfmiddlewaretoken']").value)

                    await fetch('edit_museum', {
                        method: 'POST',
                        body: form_data
                    }).then(response => {
                        if (response.redirected)
                            window.location.href = response.url
                    })
                }
            }
            let deleteMuseum = async (id) => {
                let form_data = new FormData()
                form_data.append('id', id)
                form_data.append('csrfmiddlewaretoken', document.querySelector("input[name='csrfmiddlewaretoken']").value)

                await fetch('delete_museum', {
                    method: 'POST',
                    body: form_data
                }).then(response => {
                    if (response.redirected)
                        window.location.href = response.url
                })
            }
            let addMuseumModal = () => {
                document.querySelector('.tiny.modal #name').value = ''
                document.querySelector('.tiny.modal #loc').value = ''
                document.querySelector('.tiny.modal #key').value = ''

                $('.tiny.modal')
                    .modal({inverted:true})
                    .modal('show')

                document.querySelector('.tiny.modal #save').onclick = async () => {
                    let form_data = new FormData()
                    form_data.append('name', document.querySelector('.tiny.modal #name').value)
                    form_data.append('address', document.querySelector('.tiny.modal #loc').value)
                    form_data.append('key', document.querySelector('.tiny.modal #key').value)
                    form_data.append('csrfmiddlewaretoken', document.querySelector("input[name='csrfmiddlewaretoken']").value)

                    await fetch('add_museum', {
                        method: 'POST',
                        body: form_data
                    }).then(response => {
                        if (response.redirected)
                            window.location.href = response.url
                    })
                }
            }
        </script>

    </div>
{% endblock content %}
