{% extends 'base.html' %}
{% load static %}

{% block title %}
    Next-gen Museums
{% endblock title %}

{% block content %}
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item" href="{% url 'home' %}">Home</a>
            <a class="item" href="{% url 'project' %}">Project</a>
            <a class="item" href="{% url 'us' %}">Us</a>
            <div class="right menu">
            </div>
        </div>
    </div>

    <div class="ui vertical sidebar menu left">
        <a class="active item" href="{% url 'home' %}">Home</a>
        <a class="item" href="{% url 'project' %}">Project</a>
        <a class="item" href="{% url 'us' %}">Us</a>
    </div>

    <div class="pusher">
        <div class="ui vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                    <i class="sidebar icon"></i>
                    </a>
                    <a class="active item" href="{% url 'home' %}">Home</a>
                    <a class="item" href="{% url 'project' %}">Project</a>
                    <a class="item" href="{% url 'us' %}">Us</a>
            </div>
        </div>
        <div class="ui text container">
            <video autoplay muted loop id="bg-vid">
                <source src="{% static 'videoplayback.mp4' %}" type="video/mp4">
            </video>
            <h1 class="ui inverted header">
                SMS
            </h1>
            <h2 class="ui inverted header">Smart Monitoring System</h2>
            <a class="ui inverted basic button" style="margin-top: 20px;" href="#about">About this project <i class="right arrow icon"></i></a>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="about">
        <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
            <h3 class="ui header"><span style="color:red">One</span> minute <span style="color:red">One</span> life</h3>
            <p>Every minute after earthquake is very important. Because post-earthquake is another adventure. There is no time to waste. And if you do, every minute corresponds to a life of a person.</p>
            </div>
            <div class="six wide right floated column">
            <img src="{% static 'newpp.jpeg' %}" class="ui large bordered rounded image">
            </div>
        </div>
        </div>
    </div>


    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
            <h3>"Practical and realist project."</h3>
            <p>That is what our advantage is.</p>
            </div>
            <div class="column">
            <h3>The main reason of time waste is <span style="color:red">uncertainty.</span></h3>
            <p>
                <img src="{% static 'ahmed.jpg' %}" class="ui avatar image"> <b>Ahmed</b> Coder
            </p>
            </div>
        </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
        <h3 class="ui header">Who Are Whe?</h3>
        <p>Ahmed, Eyyub, Banu. As we <b><span style="color:red">witnessed the sadness</span></b> of losing our closests in earthquake we decided to do something. We developped a project and called it SMS. Smart Monitoring System, which will help monitor all the information about earthquake. We hope our project will help people and <b><span style="color:red">no sadness</span></b> will be witnessed.</p>
        <a class="ui large button">See Their Images</a>
        <h4 class="ui horizontal header divider">
            <a href="#">What Is Our Project Doing?</a>
        </h4>
        <h3 class="ui header">How do we do it?</h3>
        <p>We installed gps and flex sensors. Flex sensors help us identify buildings that are broken during earthquake. We monitor broken buildings. Using GPS sensors we are able to know the coordinates of the broken buidling. After detecting which buildings are broken it is easier to find path. We also count number of people in a building. This way teams know how many people to rescue.</p>
        </div>
    </div>
    </div>
{% endblock content %}