{% extends 'base.html' %}
{% load static %}

{% block title %}
    Museums & Exhibits
{% endblock title %}

{% block content %}

<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="item" href="{% url 'home' %}">Home</a>
        <a class="active item" href="{% url 'museums' %}">Exhibits</a>
        <a class="item" href="{% url 'us' %}">Us</a>
        <!-- <div class="right menu">
            <div class="item">
                <a class="ui button">Add An Exhibit</a>
            </div>
        </div> -->
    </div>
</div>

<div class="ui vertical sidebar menu left">
    <a class="item" href="{% url 'home' %}">Home</a>
    <a class="active item" href="{% url 'museums' %}">Exhibits</a>
    <a class="item" href="{% url 'us' %}">Us</a>
    <!-- <a class="item">Add An Exhibit</a> -->
</div>

<div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary  pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item" href="{% url 'home' %}">Home</a>
                <a class="active item" href="{% url 'museums' %}">Exhibits</a>
                <a class="item" href="{% url 'us' %}">Us</a>
                <div class="right item">
                    <div class="ui button" onclick="openModal()">Add An Exhibit</div>
                </div>
            </div>
        </div>
        <div class="ui three stackable cards left aligned link container" style="margin-top: 30px;">
            {% for exhibit in exhibits %}
            <div class="card">
                <div class="image">
                  <img src="{{ exhibit.thumbnail }}">
		</div>
                <div class="content">
                  <div class="header"><a href="/exhibit/{{ exhibit.id }}">{{ exhibit.name }}</a></div>
                  <div class="meta">
                    <a>Exhibit</a>
                  </div>
                  <div class="description">
                    {{ exhibit.museum.name }}
                  </div>
                </div>
                <div class="extra content">
                  <span>
                    <i class="thumbtack icon"></i>
                    <a href="{{ exhibit.museum.address }}" target="_blank">Google Maps</a>
                  </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if url %}
        <div class="ui basic modal">
            <div class="center aligned content">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{ url }}">
            </div>
        </div>
    {% endif %}

    <div class="ui overlay fullscreen modal">
        <div class="header">Add An Exhibit</div>
        <div class="content">
            <form class="ui large form initial" method="POST" enctype="multipart/form-data" id="form123">
                {% csrf_token %}
                <div class="field">
                    <label>Thumbnail</label>
                    <div class="ui file input">
                        <input type="file" name="thumb" id="file2" class="required">
                    </div>
                </div>

                <div class="field">
                    <label>Audio</label>
                    <div class="ui file input">
                        <input type="file" id="file2" name="audio" class="required">
                    </div>
                </div>

                <div class="field">
                    <label>Video</label>
                    <div class="ui file input">
                        <input type="file" id="file2" name="video" class="required">
                    </div>
                </div>

                <div class="field">
                    <label>About</label>
                    <textarea name="desc"></textarea>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="key icon"></i>
                        <input type="text" name="key" placeholder="Museum key" autocomplete="off" id="key" spellcheck="false">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Exhibit name" autocomplete="off" id="name" spellcheck="false">
                    </div>
                </div>
            </form>
        </div>
        <div class="basic actions">
            <button class="ui basic button" onclick="form_submit()">Save</button>
            <div class="ui basic button" onclick="$('.overlay.fullscreen.modal').modal('toggle')">Cancel</div>
        </div>
      </div>

    <script>
        $('.ui.basic.modal')
        .modal('show')
        ;

        let openModal = () => {
            $('.overlay.fullscreen.modal')
            .modal('show')
            ;
        }

        let form_submit = async () => {
            await fetch('museums', {
                method: 'POST',
                body: new FormData(document.querySelector('#form123'))
            }).then(response => {
                if (response.redirected)
                    window.location.href = response.url
            })
        }
    </script>
{% endblock content %}
