{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'semantic/dist/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'semantic/dist/components/sidebar.min.css' %}">
</head>
<body>
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static 'semantic/dist/components/sidebar.min.js' %}"></script>
    {% block content %}
    {% endblock content %}
</body>
</html>