{% extends 'base.html' %}

{% block title %}
    Robots
{% endblock title %}

{% block content %}
{% csrf_token %}
<div class="ui tiny modal" id="addADevice">
    <div class="header">Add a device</div>
    <div class="content">
        <form class="ui large form initial" method="POST">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="nump" placeholder="Number plate" autocomplete="off" id="nump" spellcheck="false">
                </div>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="basic actions">
        <button class="ui basic button" onclick="addADevice()">Save</button>
        <div class="ui basic button" onclick="col('addADevice')">Cancel</div>
    </div>
</div>
<div class="ui tiny modal" id="logOut">
    <div class="header">Log out</div>
    <div class="content">
        <p class="ui text">Are you sure you want to log out?</p>
    </div>
    <div class="basic actions">
        <button class="positive ui button" onclick="logOut()">Yes</button>
        <div class="negative ui button" onclick="col('logOut')">No</div>
    </div>
</div>
<div class="ui tiny modal" id="showDevicePassword">
    <div class="header">Log out</div>
    <div class="content">
        <span class="ui small grey text" style="margin: 10px;">
            * Copy this password and send it to the owner of the device
        </span>
        <div class="ui center aligned container" style="margin-top: 20px;">
            <div class="ui action input">
                <input type="text" id="pasd" disabled>
                <button class="ui button" onclick="copyToClipboard(document.querySelector('#pasd'))">Copy</button>
            </div>
        </div>
    </div>
    <div class="basic actions">
        <div class="ui basic button" onclick="col('showDevicePassword')">Close</div>
    </div>
</div>
<div class="ui bottom attached segment pushable">
    <div class="ui visible inverted left vertical sidebar menu">
        <a class="active item" href="{% url 'robots' %}">
            <i class="home icon"></i>
            Robots
        </a>
        <a class="item" href="{% url 'devices' %}">
            <i class="block layout icon"></i>
            Devices
        </a>
        <a class="item" onclick="tog('logOut')">
            <i class="calendar icon"></i>
            Log out
        </a>
    </div>
    <div class="pusher">
        <div class="ui basic segment">
            {% for device in devices %}
                
            {% endfor %}
            <button class="ui button">Follow</button>
        </div>
    </div>
    <div class="ui visible right vertical sidebar menu">
        <div class="ui basic segment">
            <button class="ui left floated button" onclick="tog('addADevice')" style="width: 100%">+ Add a device</button>
        </div>
    </div>
</div>
{% endblock content %}